{% extends 'pay/details.html' %}
{% block cid %} id="receipt"{% endblock %}
{% block content %}
<p class="clear">You can
	<a href="#" onclick="window.print()">print the receipt</a>
	below for your records.</p>
<hr>

<h1>INVOICE #{{ payment.pk }}</h1>
<hr>

<h3>Bill to</h3>
<p><b>{{ payment.user.full_name }}</b>
	&lt;<u>{{ payment.user.email }}</u>&gt;<br>
    {{ payment.address }}<br>
    {{ payment.postcode.upper }}</b></p>
<hr>

<h3>Billing summary </h3>
<p><b>{{ payment.time_stamp }}</b><br>
<table>
    <tr><td>Charge for {{ payment.plan }}<br>
            premium membership:</td>
    <!--
        <td>£{{ pre_vat }}</td></tr>
    <tr><td>VAT:</td>
        <td>£{{ vat }}</td></tr>
    <tr>
    -->
        <td>Total:</td>
        <td>£{{ payment.amount }}</td></tr>
</table>
<hr>

<p>Thank you for your business. Please contact us with any
	questions regarding this receipt at <u>{{ email }}</u>.</p>

<style>
	td{vertical-align:bottom;padding:.5em .5em 0 0}
</style>
{% endblock %}
