{% extends 'pay/base.html' %}
{% block cid %} id="receipt"{% endblock %}
{% block content %}
<p class="clear">You can
	<a href="#" onclick="window.print()">print the receipt</a>
	below for your records.</p>
<hr>

<h1>INVOICE #{{ payment.pk }}</h1>
<hr>

<h3>Bill to</h3>
{% with payment.cardreceipt.paycard as card %}
<p><b>{{ payment.user.get_full_name }}</b><br>
	&lt;<u>{{ payment.user.email }}</u>&gt;<br>
    {{ card.address }}<br>
    {{ card.postcode.upper }}</b></p>
	Card used: {{ card.cardnumber.obscured }}
<hr>
{% endwith %}

<h3>Billing summary </h3>
<p><b>{{ payment.time_stamp }}</b><br>
<table>
    <tr>
		<td>Charge for membership:</td>
    <!--
        <td>£{{ pre_vat }}</td>
	</tr>
    <tr>
		<td>VAT:</td>
        <td>£{{ vat }}</td>
    -->
	</tr>
    <tr>
        <td>Total:</td>
        <td>£{{ payment.amount }}</td>
	</tr>
</table>
<hr>

<p>Thank you for your business. Please contact us with any
	questions regarding this receipt at <u>{{ email }}</u>.</p>

{% endblock %}
